/* amenities and locations popover menu */
.filters .popover {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position:absolute;
    background-color: #FAFAFA;
    width: 100%;
    display: none;
}

/* amenities and locations popover hover */
.filters .locations:hover .popover,
.filters .amenities:hover .popover{
    display: block;
}

/* style locations list */
.filters .locations ul {
    padding: 6px 0 6px 0;
  }
  
/* margin of locations list element */
.filters .locations li {
  margin: 0 auto 6px 3em;
  list-style: none;
}

/* margin of amenities list element */
.filters .amenities li {
  margin: 12px auto 12px 30px;
  list-style: none;
}

/* style Header 2 */
.filters h2 {
  margin: 12px auto 0 30px;
  padding-top: 15px;
  line-height: 0px;
  font-size: 16px;
  font-weight: bold;
}